# Ignore everything
*

# Allow only specific files
!appgit.py
!templates/edit_post.html
!templates/posts.html
!templates/edit_user.html
!templates/manage_users.html
!templates/indexgit.html

# Ensure .gitignore itself is tracked
!.gitignore
